:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
  background-color: #555;
  columns: #fff;
}
.title{
  margin: 50px 0 0 100px;
  color: #fff;
  
}
.box{
  width: 250px;
  height: 230px;
  margin: 20px auto;
  background-color: #aaa;
  border:1px solid #999;
  border-radius: 5px;
}
.box header{
  position: relative;
  width: 100%;
  height: 100%;
}
.box header > h4{
  width: 120px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.box header > p{
  position: absolute;
  right: 10px;
  top: 10px;
}

.box header > img{
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
  
.navbar{
  background-color: #fff;
  padding: 20px;
  color: #000;
}
.navbar a{
  margin-right: 10px;
  text-decoration: none;
}
.logo{
  width: 150px;
}
.book{
  width: 70px;
  position: absolute;
  left: 10px;
  bottom: 3px;
}

table.t1{
  border-collapse: collapse;
  width: 500px;
  margin: 10px auto;
}
table.t1 th,td{
  border: 1px solid #fff;
  padding: 5px;
}
.box .fr{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.list-bg{
  background: rgb(249,250,255);
  padding : 10px;
}
.list-item{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.message{
  width: 300px;
  height: 100px;
  margin: 20px auto;
  background-color: #aaa;
  border:1px solid #999;
  border-radius: 5px;
}
.list-item h4{
  font-size: 28px;
  font-weight: 800;
  margin : 0;
}
.list-item p{
  color: #aaa;
  margin : 5px 0;
}








* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
