* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #232323;
  color: #ffffff;
}

#wrap {
  width: 700px;
  border: 1px solid white;
  margin: 50px auto;
}

#wrap a {
  color: white;
}

#wrap > header > h1 {
  font: bold 35px sans-serif;
}

ul#carList {
  list-style: none;
  margin-bottom: 40px;
  text-align: center;
}

li.car {
  width: 170px;
  border: 1px solid white;
  display: inline-block;
  /*margin: 0 0 46px 46px;*/
  margin: 20px;
  padding-bottom: 10px;
}
li.car>span>a{
  font: 11px sans-serif;
  text-decoration: none;
}
li.car>a{
  display: block;
  width: 160px;
  height: 120px;
  border: 5px solid #232323;
}
li.car>a:hover{
  border-color: red;
}
